.blog-content .container{
    padding-top: 40px;
}

.blog-content .blog-title-level{
    font-weight: bold;
    font-size: 1.3em;
    padding-bottom: 10px;
    line-height: 28px;
}

.blog-content .blog-title{
    text-align: left;
    padding: 0px;
}

.blog-content .blog-date{
    text-align: right;
    padding: 0px;
}

.blog-content .blog-author{
    font-size: 0.8em;
    text-transform: uppercase;
    padding-bottom: 35px;
}

.blog-content .blog-text p{
    text-indent: 50px;
    text-align: justify;
    padding-bottom: 25px;
    line-height: 25px; 
}

@media screen and (max-width: 992px) {
    .blog-content .container {
        margin-left: auto;
        margin-right: auto;
    }

    #modal-blog .modal-content .modal-body {
        padding: 0px;
    }

    .blog-content .blog-date{
        text-align: left;
        font-size: 0.7em;
    }

    .blog-content .blog-text p{
       text-indent: 25px;
        text-align: justify;
        padding-bottom: 15px;
        line-height: 20px; 
    }
    
}