body	{ 
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
}

.bg-all{
	background:url('../images/background.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	width: 100%;
	position: absolute;
	top: 0px;
	z-index: -1;
}
.logo-center-desk{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.patrocinio{
    margin-top: 100px;
	position: relative;
	height: 650px;
}

.logo-center-desk img{
    height: 250px;
    object-fit: contain;
}

.patrocinio-item{
    min-height: 80px;
}

.patrocinio-item img{
    width: 100%;
}

@media screen and (max-width: 992px) {
    .patrocinio-item{
        max-width: 200px;
    }
    .patrocinio{
        margin-top: 45px;
    }
    .patrocinadores{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.live-notificacao{
	height: 100px;
	width: 100%;
	text-align: center;
	padding-top: 40px;
	position: absolute;
	bottom: 0px;
}

.live{
	background-color: #c85e17;
}

.notLive{
	background-color: #323131;
}

.live .notOn{
	display: none;
}

.notLive .on{
	display: none;
}

.link-live{
    margin-top: -100px;
}

.link-live,
.link-live:hover {
	color: #FFF;
}

.mapa img{
	width: 100%;
}

.conteudo{
    position: relative;
    margin-top: -20px;
    margin-bottom: -20px;
    z-index: 100;
}

.destaque-ul{
    width: 100%;
}
.destaque-li{
    float: left;
    width: 25%;
}

@media screen and (max-width: 992px) {
    .destaque-li{
        float: none;
        width: 100%;
    }
}

.destaque-ct{
    margin: 7px;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
}

.destaque-ct-tx{
    background: #FFF;
}

.destaque-ct-img img{
    width: 100%;
}

.destaque-ct-tx a,
.destaque-ct-tx a:hover{
    color: #000;
    text-decoration: none;
}

.destaque-ct-tx h2{
    font-size: 1.5em;
    font-weight: bold;
    padding: 8px;
}

.destaque-ct-tx p{
    padding: 8px;
}

footer{
    background: #323131;
    color: #FFF;
    padding-top: 80px;
    padding-bottom: 40px;
}

@media screen and (max-width: 992px) {
    footer{
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

.footer-menu div{
    padding: 0px;
    text-align: center;
}

.footer-menu div a,
.footer-menu div a:hover{
    color: #FFF;
    line-height: 25px;
    font-weight: bold;
}

.footer-menu{
    min-height: 35px;
}

.footer-form p{
    text-align: center;
    padding-top: 10px;
}

.footer-patrocinador{
    min-height: 50px;
    padding: 5px 5px;
}
.footer-patrocinador img{
    width: 100%;
}

@media screen and (max-width: 992px) {
    .footer-patrocinador{
        padding: 0 10%;
    }
}

.carousel-sec{
    margin-top: -20px;
    margin-bottom: -20px;
}
.carousel-inner > .carousel-item > div > img{
  max-width: 100%;
  height: auto;
}