.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, 
.video-container object, 
.video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}











.video-header{
    margin-top: 50px;
}

.modal-title-video{
    text-align: justify;
    text-indent: 50px;
    padding-right: 30px;
    min-height: 100px;
}

#modal-videos .modal-body h4{
    font-weight: bold;
}

#modal-videos .videos{
    padding-top: 20px;
    padding-left: 1%;
    padding-right: 1%;
}

#modal-videos .video-item{
    padding-top: 4px;
}

.videos a,
.videos a:hover,{
    text-decoration: none !important;
}

#modal-videos .video-title{
    height: 35px;
    font-size: 0.8em;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
    color:#ff5722; 
    font-weight: 600;
    line-height: 18px;
}


@media screen and (max-width: 992px) {
    .video-container {
        margin-top: 25px;
    }
}
